.logo {
  height: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

.background {
  width: 100%;
  height: 100%;
  background: url("https://www.papeldeparedestar.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/t/star_design_dy0269_1_1.jpg")
    100% 100%;
  overflow-y: scroll;
}
